In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os
import feather

In [152]:
def add_freq(idx, freq=None):
    """Add a frequency attribute to idx, through inference or directly.

    Returns a copy.  If `freq` is None, it is inferred.
    """

    idx = idx.copy()
    if freq is None:
        if idx.freq is None:
            freq = pd.infer_freq(idx)
        else:
            return idx
    idx.freq = pd.tseries.frequencies.to_offset(freq)
    if idx.freq is None:
        raise AttributeError('no discernible frequency found to `idx`.  Specify'
                             ' a frequency string with `freq`.')
    return idx

In [212]:
# read the prices from feather
dirpath = os.getcwd()
myfile = 'Equities_prices.feather'

In [213]:
prices = pd.read_feather(myfile, columns=None, use_threads=True);

In [214]:
prices.shape #7559 dates, 25572 stocks
prices

,date,A,AA,AAA,AAAB,AAABB,AAAP,AAAU,AAB,AABA,...,ZVUE,ZVX,ZVXI,ZX,ZY,ZYME,ZYNE,ZYNX,ZYTC,ZZ
0,1989-01-03,0.7500,55.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.875,NaN,NaN,NaN,NaN,NaN
1,1989-01-04,0.7500,56.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.125,NaN,NaN,NaN,NaN,NaN
2,1989-01-05,0.7500,57.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.125,NaN,NaN,NaN,NaN,NaN
3,1989-01-06,0.9375,57.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.125,NaN,NaN,NaN,NaN,NaN
4,1989-01-09,1.0000,58.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7554,2018-12-24,62.6700,25.150,NaN,NaN,NaN,NaN,12.6847,NaN,55.71,...,NaN,NaN,NaN,NaN,NaN,11.08,2.94,NaN,NaN,NaN
7555,2018-12-26,65.5400,27.140,NaN,NaN,NaN,NaN,12.6650,NaN,57.90,...,NaN,NaN,NaN,NaN,NaN,11.99,2.92,NaN,NaN,NaN
7556,2018-12-27,66.4800,27.160,NaN,NaN,NaN,NaN,12.7495,NaN,57.97,...,NaN,NaN,NaN,NaN,NaN,11.70,2.95,NaN,NaN,NaN
7557,2018-12-28,65.9600,26.600,NaN,NaN,NaN,NaN,12.7989,NaN,58.35,...,NaN,NaN,NaN,NaN,NaN,13.65,2.92,NaN,NaN,NaN
7558,2018-12-31,67.4600,26.580,NaN,NaN,NaN,NaN,12.8200,NaN,57.94,...,NaN,NaN,NaN,NaN,NaN,14.68,2.97,NaN,NaN,NaN

In [215]:
# Setting the thresholds:
Lower_threshold = 0.9
Upper_threshold = 0.95

In [216]:
prices['date'] = add_freq(prices['date'], freq='D')

In [217]:
prices['inx'] = prices.index
start_months_dates = prices.set_index('date').resample('MS').first()['inx'].values

In [258]:
start_months = prices[prices.inx.isin(start_months_dates)]
start_months.drop(['inx'], axis = 1, inplace=True)
prices.drop(['inx'], axis = 1, inplace=True)
wo_date_prices = prices.drop(['date'], axis = 1)

AttributeError: 'DataFrame' object has no attribute 'inx'

In [219]:
#ticker='IBM'
#begdate=enddate-relativedelta(years=1)
#p = getData(ticker, begdate, enddate,asobject=True, adjusted=True)
#x=p[-1]
#y=np.array(p.tolist())[:,-1]
#high=max(y)
#low=min(y)
#print(" Today, Price High Low, % from low ")
#print(x[0], x[-1], high, low, round((x[-1]-low)/(high-low)*100,2))

In [220]:
#prices['date'] = pd.DatetimeIndex(prices['date'], dtype='datetime64[ns]', freq='D', tz=None).to_pydatetime().tolist()
start_months

,date,A,AA,AAA,AAAB,AAABB,AAAP,AAAU,AAB,AABA,...,ZVUE,ZVX,ZVXI,ZX,ZY,ZYME,ZYNE,ZYNX,ZYTC,ZZ
0,1989-01-03,0.7500,55.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.875,NaN,NaN,NaN,NaN,NaN
21,1989-02-01,0.8125,64.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.125,NaN,NaN,NaN,NaN,NaN
40,1989-03-01,0.8125,61.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.250,NaN,NaN,NaN,NaN,NaN
62,1989-04-03,0.6875,59.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25.500,NaN,NaN,NaN,NaN,NaN
82,1989-05-01,0.6250,62.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.750,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7454,2018-08-01,64.9800,42.040,NaN,NaN,NaN,NaN,NaN,NaN,73.18,...,NaN,NaN,NaN,NaN,NaN,12.40,6.42,NaN,NaN,NaN
7477,2018-09-04,67.2700,43.360,NaN,NaN,NaN,NaN,11.9200,NaN,67.96,...,NaN,NaN,NaN,NaN,NaN,13.49,8.12,NaN,NaN,NaN
7496,2018-10-01,71.2600,40.860,NaN,NaN,NaN,NaN,11.8899,NaN,67.24,...,NaN,NaN,NaN,NaN,NaN,15.44,7.86,NaN,NaN,NaN
7519,2018-11-01,65.2200,36.780,NaN,NaN,NaN,NaN,12.3400,NaN,62.86,...,NaN,NaN,NaN,NaN,NaN,12.85,5.78,NaN,NaN,NaN
7540,2018-12-03,74.6700,32.050,NaN,NaN,NaN,NaN,12.2908,NaN,66.82,...,NaN,NaN,NaN,NaN,NaN,12.82,5.13,NaN,NaN,NaN

array([   0,   21,   40,   62,   82,  104,  126,  146,  169,  189,  211,
        232,  252,  274,  293,  315,  335,  357,  378,  399,  422,  441,
        464,  485,  505,  527,  546,  566,  588,  610,  630,  652,  674,
        694,  717,  737,  758,  780,  799,  821,  842,  862,  884,  906,
        927,  948,  970,  990, 1012, 1032, 1051, 1074, 1095, 1115, 1137,
       1158, 1180, 1201, 1222, 1243, 1265, 1286, 1305, 1328, 1347, 1368,
       1390, 1410, 1433, 1454, 1475, 1496, 1517, 1538, 1557, 1580, 1599,
       1621, 1643, 1663, 1686, 1706, 1728, 1749, 1769, 1791, 1811, 1832,
       1853, 1875, 1895, 1917, 1939, 1959, 1982, 2002, 2023, 2045, 2064,
       2084, 2106, 2127, 2148, 2170, 2191, 2212, 2235, 2254, 2276, 2296,
       2315, 2337, 2358, 2378, 2400, 2422, 2443, 2464, 2486, 2506, 2528,
       2547, 2566, 2589, 2610, 2630, 2652, 2673, 2695, 2716, 2737, 2758,
       2780, 2800, 2820, 2843, 2862, 2884, 2906, 2926, 2949, 2969, 2991,
       3012, 3032, 3053, 3072, 3094, 3114, 3136, 3157, 3178, 3201, 3216,
       3239, 3260, 3280, 3301, 3320, 3340, 3362, 3384, 3404, 3426, 3448,
       3468, 3491, 3511, 3532, 3553, 3572, 3593, 3614, 3635, 3656, 3678,
       3699, 3720, 3743, 3762, 3784, 3804, 3823, 3846, 3867, 3887, 3908,
       3929, 3951, 3972, 3993, 4014, 4036, 4056, 4075, 4097, 4118, 4139,
       4161, 4181, 4204, 4225, 4246, 4267, 4288, 4308, 4327, 4350, 4369,
       4391, 4413, 4433, 4456, 4476, 4498, 4519, 4539, 4559, 4578, 4600,
       4620, 4642, 4663, 4684, 4707, 4726, 4749, 4770, 4790, 4811, 4831,
       4851, 4873, 4894, 4915, 4937, 4958, 4979, 5002, 5021, 5043, 5063,
       5082, 5104, 5125, 5145, 5167, 5189, 5210, 5231, 5253, 5273, 5295,
       5314, 5333, 5356, 5377, 5397, 5419, 5440, 5462, 5483, 5504, 5525,
       5547, 5567, 5586, 5609, 5629, 5650, 5672, 5692, 5715, 5736, 5757,
       5778, 5799, 5819, 5839, 5861, 5881, 5903, 5924, 5945, 5968, 5987,
       6008, 6029, 6049, 6070, 6089, 6109, 6131, 6153, 6173, 6195, 6217,
       6237, 6260, 6280, 6301, 6322, 6341, 6362, 6383, 6404, 6425, 6447,
       6468, 6489, 6512, 6531, 6553, 6573, 6592, 6614, 6635, 6655, 6677,
       6699, 6720, 6741, 6763, 6783, 6805, 6824, 6844, 6866, 6887, 6908,
       6930, 6950, 6973, 6994, 7015, 7036, 7057, 7077, 7096, 7119, 7138,
       7160, 7182, 7202, 7225, 7245, 7267, 7288, 7308, 7329, 7348, 7369,
       7390, 7412, 7433, 7454, 7477, 7496, 7519, 7540], dtype=int64)

In [247]:
#print(start_months.loc[7540]['date'])
print(start_months.loc[232])
#start_months.iloc[1]

A         0.375
AA       73.750
AAA         NaN
AAAB        NaN
AAABB       NaN
          ...
ZYME        NaN
ZYNE        NaN
ZYNX        NaN
ZYTC        NaN
ZZ          NaN
Name: 232, Length: 25572, dtype: float64

In [222]:
windows = np.zeros((30,2))
for i in range(29):
    print(start_months_dates[(-12*i-1)], start_months_dates[(-12*i-13)])
    windows[i,0] = start_months_dates[(-12*i-1)] #end date
    windows[i,1] = start_months_dates[(-12*i-13)] #beg date
windows[29,0] = 232

7540 7288
7288 7036
7036 6783
6783 6531
6531 6280
6280 6029
6029 5778
5778 5525
5525 5273
5273 5021
5021 4770
4770 4519
4519 4267
4267 4014
4014 3762
3762 3511
3511 3260
3260 3012
3012 2758
2758 2506
2506 2254
2254 2002
2002 1749
1749 1496
1496 1243
1243 990
990 737
737 485
485 232

In [ ]:
for (fr in frows_tp){
   # This will determine the max price in the last 1 year (252 trading days)
   data$Max_52[fr] = max(data$CLOSE[(fr-252):(fr-1)]) 
 
  # This will check whether the max price has occurred in the last "x" days.
  data$Max_Not[fr] = max(data$CLOSE[(fr-no_max):(fr-1)]) 
 
  if ((data$CLOSE[fr] >= lower_threshold_limit * data$Max_52[fr])
      & (data$CLOSE[fr] <= upper_threshold_limit * data$Max_52[fr])
      & (data$Max_Not[fr] != data$Max_52[fr]) == TRUE ){
  data$Near_52_Week_High[fr] = "Near 52-Week High"
  } else {
  data$Near_52_Week_High[fr] = "Not Near 52-Week High"
  }

In [204]:
#highs = np.zeros((30,len(prices.columns)-1))
# 29 iteration for 360 months 30 years, for 1 year each.
for i in range(29):
    # getting past 52 weeks
    mask = (prices['date'] >= prices.loc[windows[i,1]]['date']) & (prices['date'] <= prices.loc[windows[i,0]]['date'])
    prices_in_window =  prices.loc[mask].drop(['date'],axis=1)
    # finding max of these 52 weeks for each stock.
    highs = prices_in_window.max()
    #lows = prices_in_window.min()
    
    # checking if the price of that "month" reaches the 52 high threshold. 
    companies = []
    for month in range(12):
        start_months.drop(['date'],axis=1).loc[windows[i+month,0]]
        
    mask = (prices['date'] >= prices.loc[windows[i+1,1]]['date']) & (prices['date'] <= prices.loc[windows[i+1,0]]['date'])
    prices_in_next_window =  prices.loc[mask].drop(['date'],axis=1)
    if prices_in_next_window >= 0.9*highs &

A        34.80
AA        6.74
AAA        NaN
AAAB       NaN
AAABB      NaN
         ...
ZYME       NaN
ZYNE      4.99
ZYNX       NaN
ZYTC       NaN
ZZ         NaN
Length: 25572, dtype: float64

In [256]:
mask = (prices['date'] >= prices.loc[7288]['date']) & (prices['date'] <= prices.loc[7540]['date'])
prices_in_window =  prices.loc[mask].drop(['date'],axis=1)
mask = (prices['date'] >= prices.loc[7036]['date']) & (prices['date'] <= prices.loc[7288]['date'])
prices_in_window2 =  prices.loc[mask].drop(['date'],axis=1)
print(prices_in_window)
print(highs)

          A     AA  AAA  AAAB  AAABB   AAAP     AAAU  AAB   AABA  AABC  ...  \
7288  68.69  41.64  NaN   NaN    NaN  81.34      NaN  NaN  70.10   NaN  ...
7289  66.24  41.79  NaN   NaN    NaN  81.27      NaN  NaN  68.31   NaN  ...
7290  65.83  41.18  NaN   NaN    NaN  81.36      NaN  NaN  68.13   NaN  ...
7291  65.89  41.31  NaN   NaN    NaN  81.46      NaN  NaN  69.41   NaN  ...
7292  66.71  40.60  NaN   NaN    NaN  81.60      NaN  NaN  70.22   NaN  ...
...     ...    ...  ...   ...    ...    ...      ...  ...    ...   ...  ...
7536  69.36  31.19  NaN   NaN    NaN    NaN  12.1400  NaN  64.16   NaN  ...
7537  71.48  33.60  NaN   NaN    NaN    NaN  12.2000  NaN  65.43   NaN  ...
7538  71.57  30.99  NaN   NaN    NaN    NaN  12.2400  NaN  64.42   NaN  ...
7539  72.35  31.81  NaN   NaN    NaN    NaN  12.2100  NaN  65.59   NaN  ...
7540  74.67  32.05  NaN   NaN    NaN    NaN  12.2908  NaN  66.82   NaN  ...

      ZVUE  ZVX  ZVXI    ZX  ZY     ZYME   ZYNE  ZYNX  ZYTC  ZZ
7288   NaN  NaN   NaN  1.50 NaN   7.8800  14.58   NaN   NaN NaN
7289   NaN  NaN   NaN  1.38 NaN   7.9332  13.37   NaN   NaN NaN
7290   NaN  NaN   NaN  1.37 NaN   8.4776  13.01   NaN   NaN NaN
7291   NaN  NaN   NaN  1.26 NaN   8.7900  11.56   NaN   NaN NaN
7292   NaN  NaN   NaN  1.30 NaN   8.5800  11.78   NaN   NaN NaN
...    ...  ...   ...   ...  ..      ...    ...   ...   ...  ..
7536   NaN  NaN   NaN   NaN NaN  12.0000   4.92   NaN   NaN NaN
7537   NaN  NaN   NaN   NaN NaN  13.5000   4.92   NaN   NaN NaN
7538   NaN  NaN   NaN   NaN NaN  13.0100   4.82   NaN   NaN NaN
7539   NaN  NaN   NaN   NaN NaN  12.8700   4.82   NaN   NaN NaN
7540   NaN  NaN   NaN   NaN NaN  12.8200   5.13   NaN   NaN NaN

[253 rows x 25572 columns]
A        48.44
AA       31.85
AAA        NaN
AAAB       NaN
AAABB      NaN
         ...
ZYME       NaN
ZYNE     21.03
ZYNX       NaN
ZYTC       NaN
ZZ         NaN
Length: 25572, dtype: float64

In [257]:
wo_date_prices[prices_in_window >= highs]

MemoryError:

In [226]:
for o 
    print(o)

7288
7289
7290
7291
7292
7293
7294
7295
7296
7297
7298
7299
7300
7301
7302
7303
7304
7305
7306
7307
7308
7309
7310
7311
7312
7313
7314
7315
7316
7317
7318
7319
7320
7321
7322
7323
7324
7325
7326
7327
7328
7329
7330
7331
7332
7333
7334
7335
7336
7337
7338
7339
7340
7341
7342
7343
7344
7345
7346
7347
7348
7349
7350
7351
7352
7353
7354
7355
7356
7357
7358
7359
7360
7361
7362
7363
7364
7365
7366
7367
7368
7369
7370
7371
7372
7373
7374
7375
7376
7377
7378
7379
7380
7381
7382
7383
7384
7385
7386
7387
7388
7389
7390
7391
7392
7393
7394
7395
7396
7397
7398
7399
7400
7401
7402
7403
7404
7405
7406
7407
7408
7409
7410
7411
7412
7413
7414
7415
7416
7417
7418
7419
7420
7421
7422
7423
7424
7425
7426
7427
7428
7429
7430
7431
7432
7433
7434
7435
7436
7437
7438
7439
7440
7441
7442
7443
7444
7445
7446
7447
7448
7449
7450
7451
7452
7453
7454
7455
7456
7457
7458
7459
7460
7461
7462
7463
7464
7465
7466
7467
7468
7469
7470
7471
7472
7473
7474
7475
7476
7477
7478
7479
7480
7481
7482
7483
7484
7485
7486
7487
7488
7489
7490
7491
7492
7493
7494
7495
7496
7497
7498
7499
7500
7501
7502
7503
7504
7505
7506
7507
7508
7509
7510
7511
7512
7513
7514
7515
7516
7517
7518
7519
7520
7521
7522
7523
7524
7525
7526
7527
7528
7529
7530
7531
7532
7533
7534
7535
7536
7537
7538
7539

In [170]:
prices.loc[windows[29,1]]['date']

Timestamp('1989-01-03 00:00:00')

In [176]:
highs = np.zeros((30,len(prices.columns)-1))

In [188]:
highs.shape
data = {'Name':[2,3,4,5],
        'Age':[27, 24, 22, 32],
        'Address':[1,2,4,5],
        'Qualification':[11,23,12,45]}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
df

Name              5
Age              32
Address           5
Qualification    45
dtype: int64

In [10]:
mask = (logrets['date'] >= begdate) & (logrets['date'] <= enddate)

In [11]:
prices = logrets.loc[mask]

In [12]:
y = prices['A']

In [ ]:
# list iteration
newlist = []
for x in range(10):
    innerlist = []
    for y in range(10):
        innerlist.append(y)
    newlist.append(innerlist)

print(newlist)

In [13]:
high=max(y)
low=min(y)
print("Today, Price, High, Low, % from low ")
print(y.iloc[-1], y.iloc[0], high, low, round((y.iloc[-1]-low)/(high-low)*100,2))

Today, Price, High, Low, % from low
0.022486331942106474 0.009363225126959307 0.07549884053048306 -0.10197880411141558 70.13

In [14]:
prices_without_date = prices.drop(columns='date')

In [18]:
logrets_wo_date = logrets.drop(columns='date')

In [19]:
RollingHighes = logrets_wo_date.rolling(window=252).max()

In [20]:
RollingHighes

,A,AA,AAA,AAAB,AAABB,AAAP,AAAU,AAB,AABA,AABC,...,ZVUE,ZVX,ZVXI,ZX,ZY,ZYME,ZYNE,ZYNX,ZYTC,ZZ
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7553,0.075499,0.074429,NaN,NaN,NaN,NaN,NaN,NaN,0.045889,NaN,...,NaN,NaN,NaN,NaN,NaN,0.15,0.15,NaN,NaN,NaN
7554,0.075499,0.076151,NaN,NaN,NaN,NaN,NaN,NaN,0.045889,NaN,...,NaN,NaN,NaN,NaN,NaN,0.15,0.15,NaN,NaN,NaN
7555,0.075499,0.076151,NaN,NaN,NaN,NaN,NaN,NaN,0.045889,NaN,...,NaN,NaN,NaN,NaN,NaN,0.15,0.15,NaN,NaN,NaN
7556,0.075499,0.076151,NaN,NaN,NaN,NaN,NaN,NaN,0.045889,NaN,...,NaN,NaN,NaN,NaN,NaN,0.15,0.15,NaN,NaN,NaN
7557,0.075499,0.076151,NaN,NaN,NaN,NaN,NaN,NaN,0.045889,NaN,...,NaN,NaN,NaN,NaN,NaN,0.15,0.15,NaN,NaN,NaN

In [21]:
threshold_multiple_high = 0.7 #top 30%
threshold_multiple_low = 0.3 #bottom 30%

In [27]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]) 
ser = pd.Series(a)
ser.rolling(window=3).max()

0      NaN
1      NaN
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
dtype: float64